<li class="list-group-item list-group-item-danger tombstone-undead">
    <h4><img src="{{path_to_root}}_img/vampire.png" title="Undead" /> <samp>{{tombstone}}</samp></h4>
    <div class="tombstone-detail">
        in line <samp>{{line}}</samp><br/>
        in {{scope}}<br/>
        {{invocation}}
    </div>
</li>
