<tr class="{{class}}">
    <td><img src="{{path_to_root}}_icons/file-{{icon}}.svg" class="octicon" alt="Directory" /> <a href="{{link}}">{{name}}</a></td>
    <td>{{bar}}</td>
    <td class="text-right">{{total}}</td>
    <td class="text-right">{{numDead}}</td>
    <td class="text-right">{{numUndead}}</td>
</tr>

