<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tombstones in {{item_local_path}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{path_to_root}}_css/bootstrap.min.css" rel="stylesheet">
    <link href="{{path_to_root}}_css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="{{path_to_root}}index.html" class="navbar-brand">
            <img src="{{path_to_root}}_icons/tombstone.svg" alt="Tombstone Icon" />
            Tombstone Report
        </a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <span class="nav-link">Source</span>
            </li>
            <li class="nav-item">
                <a href="{{path_to_root}}dashboard.html" class="nav-link">Dashboard</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path_to_root}}index.html"><img src="{{path_to_root}}_icons/home.svg" alt="Home" /></a></li>
                        {{breadcrumb}}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="table-responsive-md">
        <table class="table table-bordered table-sm file-tombstone-list">
            <thead class="thead-light">
                <tr>
                    <th colspan="2">Tombstone</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
{{tombstones_list}}
            </tbody>
        </table>
    </div>
    <table id="code" class="table table-borderless table-condensed source-code">
        <tbody>
{{source_code}}
        </tbody>
    </table>
</div>
<footer>
    <div class="container-fluid">
        <hr/>
        <h4>Legend</h4>
        <p class="legend"><span class="success"><img src="{{path_to_root}}_icons/cross.svg" title="Dead" /> <strong>Dead Code</strong></span><span class="danger"><img src="{{path_to_root}}_icons/vampire.svg" title="Undead" /> <strong>Undead Code</strong></span></p>
        <hr/>
        <p><small>Generated by <a href="http://github.com/scheb/tombstone-analyzer" target="_top">scheb/tombstone-analyzer</a> at {{date}}.</small></p>
    </div>
</footer>
</body>
</html>
