<li class="list-group-item">
    <h4><img src="{{path_to_root}}img/deleted.png" title="Deleted" /> <samp>{{tombstone}}</samp></h4>
    <div class="tombstone-detail">
        in line <samp>{{line}}</samp><br/>
        in method <samp>{{method}}</samp><br/>
        was <strong>last called {{last_call}} ago</strong>
    </div>
</li>
