<tr>
    <td width="1" class="{{level}}">
        <div align="right"><a href="#{{line}}">{{line}}</div>
    </td>
    <td class="{{level}}"><a href="#{{line}}">tombstone("{{date}}", "{{author}}")</td>
</tr>
